html, body, #wrapper, div#main {
    height: 100%;
    background-size: 100%;
    background-color: rgb(15, 14, 32);
    background-repeat:no-repeat;
    margin:0%;
}

div {
    display: block;
}

.header {
    width: 100%;
    height:4%;
    background-color: rgb(43, 43, 68);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height:96%;
}
.displaycontent {
    width:85%;
    height:96%;
    display: flex;
    flex-direction: row;
}

.leftmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    height:100%;
    background-color: rgb(32, 32, 51);
}

.centermenu {
    width:70%;
    height:100%;
    background-color: rgb(23, 23, 34);
}

.btnspace {
    width:100%;
    height:10%;
    background-color: green;
}

.rightmenu {
    width:15%;
    height:100%;
    background-color: rgb(32, 32, 51);
}

.clearbutton {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.clearbutton1 {
    border: 0px;
    background-color: green;
    width:100%;
    height:10%;
}

.onrow {
    width:15%;
    height:100%;
    display: flex;
    flex-direction: column;
}

:root {
    color-scheme: dark;
}

h1 {
    font-size: 30px;
    color: rgb(0, 255, 0);
    font-family: 'Montserrat', sans-serif;
}

.mainpart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-start;
    width:100%;
}

.minitext {
    font-size: 20px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    height:5%;
}

.itembg {
    background-color: black;
    height:75px;
    width:75px;
    border: 1px;
    margin-left: 2px;
    margin-top: 1px;
    text-align: center;
}

p {
    flex-wrap: wrap;
    color: white;
    margin: 0%;
    display: flex;
    flex-direction: row;
}

.makestringrow {
    display: flex;
}

.bg-color {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bg-modal {
    width: 500px;
    height:500px;
    background-color: rgb(0, 0, 0);
    border-color: green;
    border-style: solid;
    border-radius: 4px;
    display:flex;
    justify-content: center;
}

.container-modal {
    display:flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 30px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}


h4 {
    font-size: 15px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    margin:0%;
    margin-bottom: 7px;
}

.confirmbutton {
    background-color: green;
    border-color: green;
    border-radius: 4px;
    padding-left:50px;
    padding-right:50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.settings {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.settingbutton {
    margin-left: 5px;
}

.settingbutton1 {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    padding:0%;
}

.settingbutton2 {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    padding-left: 0%;;
    padding-right:7px;
}

.displaycontainer {
    width:100%;
    height:100%;
}

.displayicons {
    width:100%;
    height:3%;
    background-color: rgb(34, 38, 56);
    display: flex;
    flex-direction: row;
    margin:0%;
    align-items: center;
    justify-content: space-between;
}

h2 {
    margin:0%;
    color:white;
    font-family: 'Montserrat', sans-serif;
}